/*body*/
body {
    margin: 0;
    padding: 0;  
    overflow: hidden;
}
/*header*/
#header{
    font-size: 30px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    top: 1%;
   margin-top: 2px;
    margin: 0 45%;
    color: #fafcfb;
}
/*link for trailer*/
#header a {
    color: white;
}
/*image*/
img {
    width: 35vw;
    height: 100vh;
    display: block;
    margin: auto;
}
/*class a1*/
.a1{
    font-size: 50px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    top: 59%;
    padding: 20px;
    margin: 0 41.2%;
}
/*id marvel for text Marvel*/
#marvel {
    background-color: red;
    text-transform: uppercase;
    padding: 3px;
    margin-left: 10px;
}
/*id studios for text Studios*/
#studios{
    letter-spacing: 1px;
    font-weight: 450;
    border-top: 2px solid ghostwhite;
    border-bottom: 2px solid ghostwhite;
}

#studios, #marvel{
    font-size: 20px;
    text-transform: uppercase;
    transform: translateY(-250px);
}
/*h2 font used in class a1*/
.a1 h2{
    color:white;
}
/*class a2*/
.a2 {
    font-size: 10px;
    display: inline-block;
    align-items: center;
    flex-direction: row;
    position: absolute;
    top: 76%;
    padding: 20px;
    margin: 0 32%;
    left: 8%;
    color: white;
    font-family: 'Saira Stencil One';
    text-transform: uppercase;
}
/*font h1 used in class a2*/
.a2 h1 {
    font-family: 'Saira Stencil One';
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    display: inline-block;
}
/*class a3*/
.a3{
    font-size: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    top: 80%;
    padding: 20px;
    margin: 0 41.2%;
    left: 2%;
}
/*id volume for the text volume-3*/
#volume{
    text-transform: uppercase;
    color: hsl(0, 100%, 50%)

}
/*class footer*/
.footer{
    color: white;
    z-index: 10; 
    font-size: small;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-family: 'Exo 2', sans-serif;
    display: flex;
    position: absolute;
    bottom: 2%;
    margin: 0 26% 0 33%;
    font-size: 5px;
    color: white;
}
/*styling p1*/
.footer p1 {
    color: hsl(0, 0%, 93%);
    font-size: 15px;

}
/*styling p2*/
.footer p2{
    color: gold;
    font-size: 25px;
    font-family: 'Saira Stencil One';
}